body {
/*  background-image:url("../img/hearts.jpg");*/
  background-repeat: no-repeat;
/*  background-color: #000000;*/
  background-position:right; 
/*  color: white;*/
}

form fieldset {
  display: inline-block;
  font-size: 100%;
}
form fieldlabel {
  width: 11em;
  margin-right: 1em;
  float: left;
  text-align: right;
  display: block;
}
/*form input {
  width: 15em;
}*/
form dateInput {
  width: 50em;
}
#submit {
  margin-top: 2em;
  float: left;
  text-align: left;
}
.dbgClass {
/*  font-weight: bold;*/
  font-family: Courier, "Courier New", "Lucida Typewriter", "Lucida Sans Typewriter", monospace;
  font-size: 100%;
  color: blue;
/*  background-color: #FFA500; /* Orange */ /*Dum pg 139 */
} 
.errorClass {
  color: black;
  background-color: #CC6666;
} 
.infoClass {
  color: black;
/*  background-color: #f1c42c; /* Ochre */
  background-color: #2ecc71; /* Green */
} 
#score {
  font-weight: bold;
}
/*
#errorDiv {
  color: red;
}
*/
/*
.radioButton {
  float: none;
  display: block;
  margin-right: 0.1em;
  float: left;
  width: 2em;
  vertical-align: top;
}
*/
/*
.errorFeedback {
  visibility: hidden;
}
*/
